<!-- Errors messages -->
<div class="row" *ngIf="noteErrors?.length">
  <div class="col">
    <div class="mt-3 p-3 bg-warning bg-gradient-warning small-font" >
      <h3>Log</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" *ngFor="let note of noteErrors">
          Página: <strong>{{note._page}}</strong> | Arquivo: <strong>{{note.fileName}}</strong> | Nota: <strong>{{note.number}}</strong>
          <ul>
            <li *ngFor="let msg of note._messages">{{msg}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row small-font mt-5" *ngIf="hasAnyNote">
  <div class="col">
    <h3 class="text-center">Resumo das notas de corretagem</h3>

    <table class="table table-sm table-striped table-bordered table-responsive-sm w-auto mx-auto">
      <thead>
        <tr>
          <th class="align-middle">Corretora</th>
          <th class="align-middle">Nota Nº</th>
          <th class="align-middle">$ Negócios</th>
          <th class="align-middle">Taxas</th>
          <th class="align-middle">IRRF</th>
          <th class="align-middle">IRRF Prov. DT</th>
          <th class="align-middle">IRRF Prov. ST</th>
          <th class="align-middle">$ Líquido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of noteDetails">
          <td>{{ note.brokerName }}</td>
          <td>{{ note.number }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.tradesTotal) }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.allFees + note.ISSTax) }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.IRRF) }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.irrfDtProvisioned) }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.irrfStProvisioned) }}</td>
          <td class="text-end">{{ this.numberFormatService.br(note.futureNetAmount) }}</td>
        </tr>
      </tbody>
    </table>

    <hr/>
  </div>
</div>

<!-- Detalhes da nota -->
<div *ngFor="let note of noteDetails">
  <div class="row mt-5" *ngIf="note.showNote">
    <div class="col small-font">
      <div class="card" [class.bg-danger]="!note.proofIsValid">
        <h4 class="card-header">Nota: nº {{ note.number }} de {{ note.date }} | Corretora: {{ note.brokerName }}</h4>

        <div class="card-body">
          <div class="row">
            <div class="col-xs col-md-4">
              <h4>Resumo Financeiro</h4>
              <table class="table table-sm">
                <tbody>
                  <tr> <td>CPF/CNPJ:</td>										<td>{{ note.cpf }}</td> </tr>
                  <tr> <td>Nome do arquivo:</td>						<td>{{ note.fileName }}</td> </tr>
                  <tr> <td>Corretagem:</td>									<td>{{ this.numberFormatService.br(note.clearing) }}</td></tr>
                  <tr> <td>Taxas:</td>											<td>{{ this.numberFormatService.br(note.allFees + note.ISSTax) }}</td></tr>
                  <tr> <td>I.R.R.F.:</td>										<td>{{ this.numberFormatService.br(note.IRRF) }}</td></tr>
                  <tr> <td>I.R.R.F. prov. Day Trade:</td>		<td>{{ this.numberFormatService.br(note.irrfDtProvisioned) }}</td></tr>
                  <tr> <td>I.R.R.F. prov. Swing Trade:</td>	<td>{{ this.numberFormatService.br(note.irrfStProvisioned) }}</td></tr>
                  <tr> <td>Prova real:</td>									<td>{{ note.proofIsValid ? 'Válida' : 'Inválida' }}</td> </tr>
                </tbody>
              </table>
            </div>

            <div class="col-xs col-md-8">
              <h4>Negócios realizados </h4>
              <table class="table table-sm table-striped table-bordered table-responsive-sm">
                <thead>
                  <tr>
                    <th class="align-middle">C/V</th>
                    <th class="align-middle">Tipo mercado</th>
                    <th class="align-middle">Prazo</th>
                    <th class="align-middle">Especificação do título</th>
                    <th class="align-middle">Obs. (*)</th>
                    <th class="align-middle">Quantidade</th>
                    <th class="align-middle">Preço / Ajuste</th>
                    <th class="align-middle">Valor Operação / Ajuste</th>
                    <th class="align-middle">D/C</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trade of note.trades;">
                    <td>{{ trade.BS }}</td>
                    <td>{{ trade.marketType }}</td>
                    <td>{{ trade.time }}</td>
                    <td>{{ trade.symbol }} <span *ngIf="trade.originalSymbol">({{ trade.originalSymbol }})</span></td>
                    <td>{{ trade.obs }}</td>
                    <td>{{ this.numberFormatService.br(trade.quantity, 10, 0) }}</td>
                    <td>{{ this.numberFormatService.br(trade.price) }}</td>
                    <td>{{ this.numberFormatService.br(trade.itemTotal) }}</td>
                    <td>{{ trade.DC }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
