<div
  class="mt-5"
  style="background-image: radial-gradient(circle, #fcfcfc, #f9f9f9, #f5f5f6, #f2f2f2, #eeefef)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 my-5">
        <div>
          @if (!isIframe.isIframe()) {
            <h2 class="text-center">Sobre o Leitor de Notas de Corretagem</h2>
            <h4 class="text-center">Chega de digitar suas notas de corretagem!</h4>
            <p>
              Com o nosso leitor de notas de corretagem online e gratuito, você pode parar de perder
              tempo digitando e evitar erros. Basta informar seu email e CPF para começar a usar! 🙂
            </p>
            <p>
              Envie sua nota em PDF e nosso sistema a converterá em texto instantaneamente. Depois,
              é só copiar e colar na sua planilha de Excel favorita.
            </p>
            <p>
              Gostou do nosso app? Então não deixe de conferir também a
              <a href="https://www.dlpinvest.com.br/" target="_blank"
                >Calculadora de Imposto de Renda: DLP Invest</a
              >.
            </p>
          }

          <h5>
            Veja a lista de corretoras que já oferecemos suporte para a leitura de notas de
            corretagem:
          </h5>
          <table class="table table-striped table-bordered table-brokerages">
            <thead>
              <tr>
                <th scope="col">Corretora</th>
                <th scope="col">Mercado<br />à Vista</th>
                <th scope="col">Mercado<br />Futuro</th>
                <th scope="col">USA /<br />Internacional</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ágora Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Apex (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Ativa Investimentos</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Avenue (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Banco do Brasil Investimentos</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Banco Inter Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Banco Itaú Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>BTG Pactual Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td>✓</td>
              </tr>
              <tr>
                <td>C6 Bank Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>CEF Caixa Econômica Federal Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Charles Schwab (EUA)</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Clear Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>CM Capital Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Empiricus / Vitreo Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Genial Investimentos</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Guide Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Interactive Brokers (EUA)</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Kirton Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Master Corretora</td>
                <td></td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Mirae Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Modal Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>ModalMais Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Monte Bravo Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>MyCAP Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Necton Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Nomad Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Nova Futura Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>NuInvest / Easynvest Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Órama Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Passfolio (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Renascença Corretora</td>
                <td></td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Rico Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Santander Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Sicredi Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Singulare / Socopa Corretora</td>
                <td>✓</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Sproutfi (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Tastyworks (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Terra Investimentos</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Toro Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>Vest (EUA) Corretora</td>
                <td></td>
                <td></td>
                <td>✓</td>
              </tr>
              <tr>
                <td>Warren Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
              <tr>
                <td>XP Corretora</td>
                <td>✓</td>
                <td>✓</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
