<div class="row">
  <div class="col">
    <div class="upload-wrapper">
      @if (!sessionService.isAuthenticated) {
        <div class="upload-overlay"></div>
      }

      <div class="drop-files bg-primary small-font" appUpload>
        <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events -->
        <div
          class="text-white text-center"
          (click)="$event.target !== uploadInput ? uploadInput.click() : null"
          tabindex="0"
          role="button"
          >
          <p class="icon">
            <svg
              class="bi bi-file-earmark-arrow-up"
              width="2em"
              height="2em"
              viewBox="0 0 16 16"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              >
              <path
                d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
                />
              <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
              <path
                fill-rule="evenodd"
                d="M5.646 8.854a.5.5 0 0 0 .708 0L8 7.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708z"
                />
              <path
                fill-rule="evenodd"
                d="M8 12a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v4a.5.5 0 0 0 .5.5z"
                />
            </svg>
          </p>
          <p class="h4">Arraste os arquivos ou selecione abaixo:</p>
          <input
            id="fileupload"
            type="file"
            name="brokerageNote"
            multiple
            (change)="handleFileInput($event)"
            #uploadInput
            />
        </div>

        <div
          id="status-wrapper"
          class="bg-light p-1 border border-secondary rounded mt-3"
          [class.d-none]="!hasNotes()"
          >
          @for (upload of uploads; track upload) {
            <span
              class="badge ml-1 mb-1"
              [class.bg-secondary]="!upload.responseComplete"
              [class.bg-danger]="upload.serverError"
              [class.bg-success]="upload.responseComplete && !upload.serverError"
              >
              {{ upload.filename }}
              @if (!upload.responseComplete) {
                <img
                  src="../../assets/ajax-loader.gif"
                  alt="Loading"
                  />
              }
            </span>
          }
        </div>
      </div>
    </div>
  </div>
</div>
