<div class="custom-panel">
    <div>
        <div class="col">
            <h3 class="text-center">Limites de uso</h3>

            <h6>Uso Gratuito</h6>
            <ul>
                <li>Limite de volume de operações de 5 mil reais mensais.</li>
                <li>As 10 primeiras notas não possuem limite.</li>
            </ul>

            <h6>Uso Ilimitado por 1 ano ( R$ 49,99 ) </h6>
            <ul>
                <li>Volume mensal de operações ilimitado.</li>
                <li><a href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=2072688-6cacf69e-8c23-4e99-8c38-0de88f37c2d1">Escolher este</a></li>
            </ul>

            <h6>Uso Ilimitado x3 CPFs por 1 ano ( R$ 104,97 ) </h6>
            <ul>
                <li>Volume mensal de operações ilimitado.</li>
                <li>Até 3 CPFs na mesma conta.</li>
                <li><a href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=2072688-3a17ec36-8abf-484e-a8d7-392feebe4322">Escolher este</a></li>
            </ul>

            <h6>Uso Ilimitado x5 CPFs por 1 ano ( R$ 149,97 ) </h6>
            <ul>
                <li>Volume mensal de operações ilimitado.</li>
                <li>Até 5 CPFs na mesma conta.</li>
                <li><a href="https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=2072688-5e9ddedc-40a3-4aa8-9e68-e88d854f7daa">Escolher este</a></li>
            </ul>

            <h6>Uso Ilimitado por 1 ano + Dlombello Planilhas Alpha ( R$ 64,99 ) </h6>
            <ul>
                <li>Volume mensal de operações ilimitado.</li>
                <li>Vantagens de se tornar um usuário Alpha das planilhas Dlombello.</li>
                <li><a href="https://www.dlombelloplanilhas.com/apoie-me/usu%C3%A1rio-alpha">Escolher este</a></li>
            </ul>

            <h6>Uso Empresarial ( consulte )</h6>
            <ul>
                <li>Volume mensal de operações ilimitado.</li>
                <li>Leitura de notas com CPF/CNPJ do titular e terceiros</li>
                <li><a href="https://bit.ly/leitor-de-notas-suporte">Entrar em contato</a></li>
            </ul>
            <hr/>

            <h6>Atenção!</h6>
            <p>
                Ao finalizar sua transação no Mercado Pago, o Leitor pode levar até 60 minutos para receber essa informação do MercadoPago.<br>
                O email associado a sua conta no MercadoPago será utilizado para liberar seu usuário aqui no Leitor, então utilize o mesmo email para facilitar a sincronização.
            </p>
            <hr>
            <h6>Grátis sempre!</h6>
            <p>Uma das nossas premissas é poder oferecer este leitor de notas de forma gratuita para sempre. Então fique tranquilo, que faremos o máximo para que ele sempre esteja aqui.<p>
            <p>Como desenvolver, atualizar e dar suporte ao Leitor exige tempo e também dinheiro, contamos com sua colaboração para manter tudo funcionando. Ao fazer sua doação (através dos links acima) além de liberar a leitura ilimitada de notas, você garante principalmente que teremos capacidade para dar continuidade a tudo isso.<br>Muito obrigado 🙂!</p>
            <hr/>

            <div class="small-font">
                <h6>Informações</h6>
                <p>O volume financeiro de uma nota de corretagem é calculado somando todos os valores de compras e vendas. Este valor é diferente do “total da nota” onde as vendas são subtraídas das compras. Observe que no caso do Leitor o total das vendas (valor positivo) e o total de compras (valor positivo) é somado para obter o “volume movimentado”.</p>
                <p>Este sistema é um projeto especial desenvolvido em parceria com o projeto <a href="https://www.dlombelloplanilhas.com/">Dlombello Planilhas</a> e tal como, esse sistema não é oferecido como um produto ou serviço. Ao realizar um pagamento utilizando um dos links acima sua transação é considerada uma doação com o propósito de ajudar a manter este site no ar. Para retribuir sua contribuição o que fazemos é oferecer acesso total as nossas funcionalidades de leitura de notas.</p>
            </div>
        </div>
    </div>
</div>
