<div class="container-fluid">
  <div class="custom-panel">
    <div class="row">
      <div class="col">
        <h3 class="text-center mb-3">Grátis</h3>

        <div style="position: relative">
          <app-loading [show]="loading"></app-loading>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Gratuito</h6>
                <ul>
                  <li>Limite de volume de operações de 5 mil reais mensais.</li>
                  <li>As 10 primeiras notas não possuem limite.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h6">Grátis</p>
                  <a class="btn btn-primary" href="/" role="button">Criar conta</a>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center mt-5 mb-3">Calculadora de IR + Leitura de Notas</h3>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Plataforma DLP Invest + Leitor de Notas</h6>
                <ul>
                  <li>Clique e conheça a plataforma DLP Invest;</li>
                  <li>Desde do gratuito até o pacote ilimitado;</li>
                  <li>Calculadora de Imposto de Renda.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <button class="btn btn-primary" (click)="getOptionLink('LN_001_ILM_A')">
                    Ver todos planos
                  </button>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-center mt-5 mb-3">Leitura de Notas</h3>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Ilimitado por 1 ano</h6>
                <ul>
                  <li>Volume mensal de operações ilimitado.</li>
                  <li>Leitura de notas de apenas 1 CPF.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h5">R$ 74,99</p>
                  <button class="btn btn-primary" (click)="getOptionLink('LN_001_ILM_A')">
                    Escolher este
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Ilimitado x3 CPFs por 1 ano</h6>
                <ul>
                  <li>Volume mensal de operações ilimitado;</li>
                  <li>Até 3 CPFs na mesma conta.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h5">R$ 149,98</p>
                  <button class="btn btn-primary" (click)="getOptionLink('LN_003_ILM_A')">
                    Escolher este
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Ilimitado x5 CPFs por 1 ano</h6>
                <ul>
                  <li>Volume mensal de operações ilimitado;</li>
                  <li>Até 5 CPFs na mesma conta.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h5">R$ 224,97</p>
                  <button class="btn btn-primary" (click)="getOptionLink('LN_005_ILM_A')">
                    Escolher este
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Ilimitado x10 CPFs por 1 ano</h6>
                <ul>
                  <li>Volume mensal de operações ilimitado;</li>
                  <li>Até 10 CPFs na mesma conta.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h5">R$ 449,99</p>
                  <button class="btn btn-primary" (click)="getOptionLink('LN_10F_ILM_A')">
                    Escolher este
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="limit-box">
            <div class="row align-items-center">
              <div class="col-auto">
                <h6>Uso Empresarial ( consulte )</h6>
                <ul>
                  <li>Volume mensal de operações ilimitado;</li>
                  <li>Leitura de notas com CPF/CNPJ do titular e terceiros;</li>
                  <li>Acesso a API.</li>
                </ul>
              </div>
              <div class="col-md">
                <div class="mt-3 mt-md-0 float-md-end text-center">
                  <p class="h6">fale conosco</p>
                  <a class="btn btn-primary" href="https://bit.ly/leitor-de-notas-suporte"
                    >Entrar em contato</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <h6>Grátis sempre!</h6>
        <p>
          Uma das nossas premissas é poder oferecer este Leitor de Notas de forma gratuita para
          sempre.<br />Então fique tranquilo, que faremos o máximo para que ele sempre esteja aqui.
        </p>

        <hr />

        <div class="small-font">
          <h6>Informações</h6>
          <p>
            O volume financeiro de uma nota de corretagem é calculado somando todos os valores de
            compras e vendas.<br />
            Este valor é diferente do “total da nota” onde as vendas são subtraídas das compras.<br />
            Observe que no caso do Leitor de Notas o total das vendas (valor positivo) e o total de
            compras (valor positivo) é somado para obter o “volume financeiro”. Todas as regras e
            limites relacionadas a valores monetários, usam o Real Brasileiro (BRL) como moeda de
            referência. Caso os dados estejam em outra moeda, eles serão convertidos para BRL antes
            de aplicar as regras aqui descritas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
