<div class="row" *ngIf="serverStatus">
  <div class="col">
    <div class="text-center border rounded shadow mx-auto m-3" style="max-width: 640px">
      <div class="bg-warning p-3" *ngIf="serverStatus < 4">
        <span id="msg-30s" [appSlideToggle]="serverStatus === 1" style="display: none">
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <p>.. nosso servidor esta demorado um pouco para responder. Por favor, aguarde!</p>
        </span>

        <span id="msg-60s" [appSlideToggle]="serverStatus === 2" style="display: none">
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <p>
            ... já se passaram mais de 1 minuto.<br />Desculpe a demora, mas ainda estamos tentando
            obter conexão, ok?!
          </p>
        </span>

        <span id="msg-90s" [appSlideToggle]="serverStatus === 3" style="display: none">
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <span class="spinner-grow spinner-grow-sm" role="status"
            ><span class="visually-hidden"></span
          ></span>
          <p>
            ... mais de 1 min. e 30 seg. sem resposta do servidor, pode ser que estejamos passando
            por instabilidades no momento!
          </p>
        </span>
      </div>
      <div
        class="bg-danger text-white p-3"
        [appSlideToggle]="serverStatus === 4"
        style="display: none"
      >
        <span id="msg-120s">
          <svg
            class="bi bi-exclamation-triangle-fill h1"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            />
          </svg>
          <p>
            Já se passaram 2 minutos e o servidor não respondeu, isso significa que estamos passando
            por instabilidades no momento.
          </p>
          <p>
            Por favor, tente recarregar esta página e caso o problema persista, tome um tempo e
            volte em algumas horas.
          </p>
        </span>
      </div>
    </div>
  </div>
</div>
