<nav *ngIf="!isIframe.isIframe()" class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 shadow py-1" style="background-color:#18204D!important;">
  <div class="container-fluid">
    <h1 class="navbar-brand h3 p-0 my-0 mr-md-auto font-weight-normal">
      <a routerLink="/" class="text-white" style="text-decoration: none">
        <img src="assets/dp-logo.jpg" alt="DLP - Logo" class="rounded" style="max-width: 34px;" />
        DLP - Leitor de Notas
      </a>
    </h1>

    <button
      class="navbar-toggler mr-3"
      type="button"
      (click)="headerMenuCollapsed = !headerMenuCollapsed"
      [attr.aria-expanded]="!headerMenuCollapsed"
      aria-controls="collapseMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="headerMenuCollapsed"
      id="collapseMenu"
    >
      <ul class="navbar-nav ml-auto mr-2">
        <li class="nav-item">
          <a
            (click)="headerMenuCollapsed = true"
            class="nav-link px-3"
            href="https://web.dlombelloplanilhas.com/#h.yrfqsff9p5fl"
            target="_blank"
          >
            <fa-icon [icon]="faCalculator"></fa-icon> Calculadora IR
          </a>
        </li><li class="nav-item">
          <a
            (click)="headerMenuCollapsed = true"
            class="nav-link px-3"
            href="https://leitor-de-notas.gitbook.io/"
            target="_blank"
          >
            <fa-icon [icon]="faQuestionCircle"></fa-icon> FAQ / Ajuda
          </a>
        </li>
        <li class="nav-item">
          <a (click)="headerMenuCollapsed = true" class="nav-link px-3" routerLink="/limites-uso">
            <fa-icon [icon]="faDollarSign"></fa-icon> Preços
          </a>
        </li>
        <li class="nav-item">
          <a
            (click)="headerMenuCollapsed = true"
            class="nav-link px-3"
            href="https://bit.ly/leitor-de-notas-suporte"
            target="_blank"
          >
            <fa-icon [icon]="faEnvelope"></fa-icon> Informar erro
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <app-server-unavailability-message></app-server-unavailability-message>
  <app-user-bar></app-user-bar>
</div>

<router-outlet (activate)="onActivate()"></router-outlet>

<div *ngIf="showAboutUs" >
  <app-about-us></app-about-us>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center mt-5">
        <hr />
        <p><a routerLink="/privacidade-termos">Termos de Uso e Política de Privacidade</a></p>
        <p><a routerLink="/sobre">Sobre nós</a></p>
        <hr />
      </div>
    </div>
  </div>

<app-modal></app-modal>

<app-statistics *ngIf="!isIframe.isIframe()"></app-statistics>
