<div class="container">
  <div class="row">
    <div class="col" style="position: relative">
      <app-loading [show]="loading"></app-loading>

      <h3>Binance</h3>
      <p>
        Funcionalidade em fase experimental.<br />Caso encontre problemas use o link de Reportar
        Problemas.
      </p>

      <h6>Como obter a API Key e Secret Key:</h6>
      <ul>
        <li>
          Visite:
          <a href="https://www.binance.com/pt-BR/my/settings/api-management" target="_blank"
            >https://www.binance.com/pt-BR/my/settings/api-management</a
          >;
        </li>
        <li>Clique em "Criar API";</li>
        <li>Escolha "Gerada pelo sistema" e clique em "Próximo";</li>
        <li>Insira qualquer nome;</li>
        <li>Pronto, basta copiar os dados e usar aqui no Leitor de Notas.</li>
      </ul>

      <hr />

      <form class="form" [formGroup]="binanceForm" (submit)="submitBinanceForm()">
        <div class="mb-3">
          <label class="form-label" for="apiKey">Binance API Key</label>
          <input
            type="text"
            name="apiKey"
            required
            formControlName="binanceApiKey"
            class="form-control form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="secretKey">Binance Secret Key</label>
          <input
            type="password"
            name="secretKey"
            required
            formControlName="binanceSecretKey"
            class="form-control form-control"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Obter extrato da Binance</button>
        </div>
      </form>

      <div *ngIf="requestMade">
        <div>
          <hr />
          <h5>Conta FIAT Pagamentos ({{ fiatPayments.length }})</h5>
          <table class="table table-sm table-striped table-hover table-bordered small-font">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Moeda</th>
                <th scope="col">Cripto</th>
                <th scope="col">Preço</th>
                <th scope="col">Comissão</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of fiatPayments">
                <td>{{ transaction.updateDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ transaction.sourceAmount }} {{ transaction.fiatCurrency }}</td>
                <td>{{ transaction.obtainAmount }} {{ transaction.cryptoCurrency }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.totalFee }}</td>
              </tr>
              <tr *ngIf="fiatPayments.length === 0">
                <td colspan="5">Sem dados</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <hr />
          <h5>Conta FIAT Ordens ({{ fiatOrders.length }})</h5>
          <table class="table table-sm table-striped table-hover table-bordered small-font">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Moeda</th>
                <th scope="col">Comissão</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of fiatOrders">
                <td>{{ transaction.updateDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ transaction.amount }} {{ transaction.fiatCurrency }}</td>
                <td>{{ transaction.totalFee }}</td>
              </tr>
              <tr *ngIf="fiatOrders.length === 0">
                <td colspan="3">Sem dados</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <hr />
          <h5>Conversões ({{ conversions.length }})</h5>
          <table class="table table-sm table-striped table-hover table-bordered small-font">
            <thead>
              <tr>
                <th scope="col">Ativo</th>
                <th scope="col">Data</th>
                <th scope="col">Evento</th>
                <th scope="col">Qtd.</th>
                <th scope="col">Preço</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Observação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of conversions">
                <td>{{ c.asset }}</td>
                <td>{{ c.created | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ c.operType }}</td>
                <td>{{ c.amount }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ c.fromAmount }} {{ c.fromAsset }} -> {{ c.toAmount }} {{ c.toAsset }}</td>
              </tr>
              <tr *ngIf="conversions.length === 0">
                <td colspan="10">Sem dados</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <hr />
          <h5>Transações OCO ({{ tradesOCO.length }})</h5>
          <table class="table table-sm table-striped table-hover table-bordered small-font">
            <thead>
              <tr>
                <th scope="col">Ativo</th>
                <th scope="col">Data</th>
                <th scope="col">Evento</th>
                <th scope="col">Qtd</th>
                <th scope="col">Preço</th>
                <th scope="col">Taxas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of tradesOCO">
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ trade.operType }}</td>
                <td>{{ trade.qty }}</td>
                <td>{{ trade.price }}</td>
                <td>{{ trade.fee }} {{ trade.feeAsset }}</td>
              </tr>
              <tr *ngIf="tradesOCO.length === 0">
                <td colspan="6">Sem dados</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <hr />
          <h5>Transações Spot ({{ trades.length }})</h5>
          <table class="table table-sm table-striped table-hover table-bordered small-font">
            <thead>
              <tr>
                <th scope="col">Ativo</th>
                <th scope="col">Data</th>
                <th scope="col">Evento</th>
                <th scope="col">Qtd</th>
                <th scope="col">Preço</th>
                <th scope="col">Taxas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trade of trades">
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ trade.operType }}</td>
                <td>{{ trade.qty }}</td>
                <td>{{ trade.price }}</td>
                <td>{{ trade.fee }} {{ trade.feeAsset }}</td>
              </tr>
              <tr *ngIf="trades.length === 0">
                <td colspan="6">Sem dados</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
