<div class="container-fluid"> <div class="custom-panel">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Termos de Uso e Política de Privacidade</h3>

            <div *ngIf="showAcceptTermsButton">
                <p class="text-center alert alert-waring"><strong>POR FAVOR LEIA E ACEITE OS TERMOS PARA CONTINUAR UTILIZANDO O SISTEMA</strong><br><i>Botão de aceite, encontra-se ao final do texto</i></p><hr>
            </div>

            <div>
                <p>AO ACESSAR E UTILIZAR ESTE SERVIÇO VOCÊ ACEITA E CONCORDA COM TUDO O QUE CONSTA NESTE DOCUMENTO.</p>
                <p>O propósito deste serviço é possibilitar que você possa fazer a leitura dos dados existentes em suas Notas de Corretagem e então copiar e utilizar em qualquer outro sistema ou planilha.</p>
                <h6>Sobre a disponibilidade operacional do sistema</h6>
                <p>Este é um sistema em fase beta, ou seja, está em desenvolvimento e não foi totalmente concluído, com isso não se pode assegurar seu perfeito funcionamento em todos os momentos. Instabilidades e indisponibilidades podem ocorrer, porém, faremos sempre o máximo possível para que tudo esteja funcionando e disponível para uso.</p>
                <h6>Sobre a leitura das Notas de Corretagem e garantia das informações</h6>
                <p>Este é um serviço com propósito informativo, não podemos assegurar que todas as informações da Nota de Corretagem serão lidas por completo ou com fidelidade, cabe ao usuário (ou seja, você) verificar se todas as informações foram lidas correta e fielmente, caso encontre informações incorretas ou incompletas ajuste-as antes de inserir em outros sistemas e/ou planilhas.</p>
                <h6>Sobre o cálculo de taxas e impostos</h6>
                <p>Com o propósito de oferecer um produto ainda mais completo, temos a funcionalidade de cálculo de taxas e corretagem, porém, esse cálculo é meramente informativo e não temos nenhuma responsabilidade sobre os resultados calculados. Para cálculo das taxas da B3 é feito o rateio entre os negócios listados na nota. As taxas de corretagem também são calculadas através do rateio já que cada corretora tem suas regras específicas de cobrança e isenção da taxa de corretagem. Para ISS e IRRF nós só conseguiremos obter estes caso a corretora tenha-os descontado diretamente na Nota de Corretagem, algumas corretoras não cobram o ISS e o IRRF na Nota de Corretagem, porém, descontam no extrato da conta do investidor, neste caso não temos o que fazer.</p>
                <h6>Sobre a coleta, armazenamento e uso dos dados</h6>
                <p>
                    Para monitorar o uso do site, utilizamos o serviço Google Analytics, que coleta e armazena dados anônimos (ou seja, não é possível te identificar / saber quem você é) sobre a navegação dentro do site, dispositivo utilizado e outras informações relacionadas. <br>
                    Quando você envia uma Nota de Corretagem, fazemos a leitura dos dados em nosso servidor e logo após isso a Nota é eliminada do sistema, ou seja, não salvamos o arquivo PDF e não mantemos nenhuma cópia de sua Nota em nosso poder. <br>
                    As únicas informações que armazenamos são o seu e-mail (utilizado para acessar o serviço), seu CPF ou CNPJ que consta na Nota de Corretagem, a data, o valor total e o número da Nota de Corretagem. As demais informações são exibidas a você no momento do uso e descartadas logo em seguida.
                </p>
                <h6>Sobre o seu direito de acessar e controlar seus dados</h6>
                <p>Você pode a qualquer momento consultar / alterar / excluir seus dados através do menu “Minha conta”.<br> A exclusão dos seus dados é feita assim que clicado na opção de “excluir conta”. Entretanto, para evitar abusos e usos indevidos do sistema, em alguns casos o seu CPF e os dados de controle das notas de corretagem já lidas (corretora, data, número e volume movimentado) podem ficar armazenados mesmo após a solicitação de exclusão dos dados.</p>
                <h6>Sobre o compartilhamento de dados com terceiros</h6>
                <p>Os seus dados, NUNCA SERÃO COMPARTILHADOS com terceiros. O propósito deste serviço é unicamente ler e extrair dados das Notas de Corretagem, utilizamos suas informações estritamente para isto.<br>A única situação em que seus dados podem ser compartilhados com terceiros é por consequência de uma decisão judicial que obrigue tal ato.</p>
                <h6>Sobre a atualização destes termos</h6>
                <p>Estes termos podem ser atualizados a qualquer momento sem aviso, cabe ao usuário sempre que acessar este site conferir se houve alguma mudança antes de utilizar o serviço de envio e leitura das notas.</p>
            </div>

            <div *ngIf="showAcceptTermsButton" class="text-center" style="position: relative;">
                <app-loading [show]="loading"></app-loading>
                <button type="button" class="btn btn-primary" (click)="acceptingTerms()">Confirmo que li e aceito os termos de uso</button>
            </div>
        </div>
    </div>
</div> </div>
