@if (errors.length) {
  <div class="row">
    <div class="col">
      <div class="mt-3 p-3 bg-warning bg-gradient-warning small-font">
        <h3>Log</h3>
        <ul class="list-group">
          @for (error of errors; track error) {
            <li class="list-group-item list-group-item-warning">
              @if (error._page) {
                <span
                  >Página: <strong>{{ error._page }}</strong> |
                </span>
              }
              <span
                >Arquivo: <strong>{{ error.fileName }}</strong></span
              >
              @if (error.number) {
                <span>
                  | Nota: <strong>{{ error.number }}</strong></span
                >
              }
              <ul>
                @for (msg of error._messages; track msg) {
                  <li>{{ msg }}</li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}
