<div class="container-fluid">
  <app-auth></app-auth>

  <app-user-document></app-user-document>

  <app-upload></app-upload>
</div>

<app-export-tool></app-export-tool>

<div class="container-fluid">
  <app-brokerage-notes></app-brokerage-notes>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <hr style="max-width: 400px" class="mx-auto" />
      <p class="text-center">
        <img src="/assets/binance.png" alt="Binance" class="" height="24" />
        <br />
        <a routerLink="/binance">Extrato da Binance</a> (fase de testes)
      </p>
    </div>
  </div>
</div>
