<div class="container-fluid">
  <app-auth></app-auth>

  <app-user-document></app-user-document>

  <div class="row">
    <div class="col">
      <ul
        class="nav nav-tabs nav-underline mb-3 border-bottom"
        [class.border-primary]="currentTab === NOTES_TAB"
        [class.border-purple]="currentTab === STATEMENTS_TAB"
      >
        <li class="nav-item">
          <a
            class="nav-link px-3 py-2"
            [class.active]="currentTab === NOTES_TAB"
            [class.text-primary]="currentTab === NOTES_TAB"
            [class.text-body-emphasis]="currentTab !== NOTES_TAB"
            [class.border-primary]="currentTab === NOTES_TAB"
            [routerLink]="'/'"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            <fa-icon [icon]="faFilePdf"></fa-icon> Notas de Corretagem
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link px-3 py-2"
            [class.active]="currentTab === STATEMENTS_TAB"
            [class.text-purple]="currentTab === STATEMENTS_TAB"
            [class.text-body-emphasis]="currentTab !== STATEMENTS_TAB"
            [class.border-purple]="currentTab === STATEMENTS_TAB"
            [routerLink]="'/extratos'"
            routerLinkActive="active"
          >
            <fa-icon [icon]="faFileCsv"></fa-icon> Dividendos
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-upload *ngIf="currentTab === NOTES_TAB"></app-upload>
  <app-statement-upload *ngIf="currentTab === STATEMENTS_TAB"></app-statement-upload>
</div>

<app-export-tool *ngIf="currentTab === NOTES_TAB"></app-export-tool>

<div class="container-fluid" *ngIf="currentTab === NOTES_TAB">
  <app-brokerage-notes></app-brokerage-notes>
</div>

<div class="container-fluid" *ngIf="currentTab === STATEMENTS_TAB">
  <app-statement-export></app-statement-export>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <hr style="max-width: 400px" class="mx-auto" />
      <p class="text-center">
        <img src="/assets/binance.png" alt="Binance" class="" height="24" />
        <br />
        <a routerLink="/binance">Extrato da Binance</a> (fase de testes)
      </p>
    </div>
  </div>
</div>
